li {
    list-style : none;
}
img[src = "images/lab.jpg"] {
    height:800px;
    width: 1400px;
}
.footer{
    height: 80px;
    background-color: black;
    color: white;
}
.navbar>nav {
    display: flex;
}
ul {
    display : flex;
}
.footer>p{
    font-size: 25px;
}